
<div class="title">
  <h1>All Cocktails</h1>
</div>


<div class="wrapper">
    <div class="list-box">

      <% @cocktails.each do |c| %>
        <div class='card'>
          <%= link_to c.name, cocktail_path(c), { class: 'btn btn-danger' } %>
          <p class='cocktail-ingredients'>
            <% c.doses.each do |dose| %>
              <%= dose.ingredient.name %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div><!-- /list-box -->
  </div><!-- /rounded-box -->
</div><!-- /wrapper -->


