
<div class="title" style="background-image: url('<%= image_path "sexy-girl-at-bar-counter.jpg" %>')">
  <h1 class="jumbo-title strike white-highlight">All Cocktails</h1><br>
  <p class="title-quote white-highlight"><em>you must be the cocktail you wish to see in the world</em> - Gandhi</p>
</div>


<div class="wrapper">
    <div class="list-box">

      <% @cocktails.each do |c| %>
        <div class='card' style="background-image: url('<%=c.photo%>');background-size:cover">
          <%= link_to c.name, cocktail_path(c), { class: 'btn btn-strike' } %>
          <p class='cocktail-ingredients'>
            <% c.doses.each do |dose| %>
              <%= dose.ingredient.name %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div><!-- /list-box -->
  </div><!-- /rounded-box -->
</div><!-- /wrapper -->


