a {
  margin: 4px;
}

h4 {
  text-align: center;
}

li:nth-child(odd) { background: #f3f3f5; }

.bg-style {
  background-color: #f3f3f5;
}

.box-shadow {
  box-shadow: 10px 10px 50px #3e3e3e;
}

.top-space {
  margin-top: 50px;
}
